@tailwind base;
@tailwind components;
@tailwind utilities;

.main-title{
  color: white;
  text-transform: uppercase;
  text-shadow: 0 5px 10px rgba(0,0,0,1);
  mix-blend-mode: overlay;
  font-size: 10em;
  line-height: 1em;
  text-align: left;
}